
html,body{
    font: normal 100% Helvetica, Arial, sans-serif;
    display: table;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    font-size: 1.5em;
}
small {
    font-size: 0.875em;
}
img, object {
    max-width: 100%;
}
#home{
    background: center url(1.png);
}